{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
{% comment %} <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>  {% endcomment %}
{% comment %} <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript"></script> {% endcomment %}
{% comment %} <script src={% static 'js/jquery-3.5.1.min.js' %} type="text/javascript"></script> {% endcomment %}
{% comment %} <script src={% static 'js/popper.min.js' %} type="text/javascript"></script> {% endcomment %}
{% comment %} <script src={% static 'js/bootstrap.min.js' %} type="text/javascript"></script>     {% endcomment %}
<link rel ="stylesheet" type="text/css" href="{% static '/css/spinner.css' %}" >
<div id="cover-spin" style="display:block;"></div>

<script src="{% static 'js/math.js' %}"></script>
<script src="{% static 'js/chart.js@2.8.0.js' %}"></script>


<style>
    .range-wrap {
      position: relative;
      margin: 0 auto 3rem;
    }

    .range {
      width: 100%;
    }

    .bubble {
      background: red;
      color: white;
      padding: 4px 12px;
      position: absolute;
      border-radius: 4px;
      left: 50%;
      transform: translate(-50%,70%);
      /* transform: translateX(-50%); */

    }

    .bubble::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 2px;
      background: red;
      top: -1px;
      left: 50%;
    }

/*     body {
      margin: 2rem;
    }  */
</style>

<div class="card shadow">
  <div class="card-header"><h3 style="text-align:center;">Logistische Klassifizierung</h3></div>
  <div class="card-body">  
    <div class="row">
      <div class="col-8" id="viz">
        <h1 style="text-align:center;"><span class="badge badge-secondary" id="Targetname"></span></h1>
        <div style="width:100%;height:60vh">
          <canvas id="myChart" style="width:100%;height:100%;"></canvas> <!-- width="auto" height="400" style="display:block;"></canvas>        -->
        </div>
        <!-- X-Axis SELECTION -->        
        <div class="dropdown text-center" id="dropdown-axis">
          <label class="h3">X-Achse:</label>
          <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropbtn-axis" data-toggle="dropdown">
            X-Achse
          </button>
          <div class="dropdown-menu" id='axis-menu'>        
            <!-- <button class="dropdown-item" type="button" id="1">Action</button> -->        
          </div>
        </div>
      </div> 
      <div class="col" id="controls"></div>     
    </div>   
    <div class="card-footer" style="margin-top:20px;" id="params"></div> 
  </div>
</div>


<!-- CONFUSION MATRICES -->
<div class="card mt-4 shadow">
  <div class="card-header"><h3 style="text-align:center;">Wahrheitsmatrizen</h3></div>
  <div class="card-body" id="confmats">
  </div>
</div>

<!-- METRICS -->
<div class="card mt-4 shadow">
  <div class="card-header"><h3 style="text-align:center;">Metriken</h3></div>
  <div class="card-body" id="metrics">
  </div>
</div>


  <script>
    var filepath = '{{ filepath }}';

    function loadjson() {
      return $.getJSON(filepath);
    }

    // *****************   AB HIER IST MAIN *****************************  //
    $.when(loadjson()).then(function (data) {
      $('#cover-spin').hide(0);
      var mean = data.mean;
      var std = data.std;

      var features_type = data.features_type;
      var features_range = data.features_range;
      var featureset=[];
      var featureset_transformed=[]; // scaled numeric vals, categorial 0 or 1

      /**************************** MODEL-PARAMS IN FOOTER**************************/
      

      var params = document.getElementById('params');
      var tabfoot = document.createElement('TABLE');
      tabfoot.classList.add('table');
      tabfoot.setAttribute('style','width:100%');

      var tabfoothead = document.createElement("THEAD");
      tabfoothead.classList.add('thead-dark');

      var tabfootrow = document.createElement('TR');
      var tabfootrowstr='';
      tabfootrowstr += '<td> Inv. L2-Regularisierung:' + data.C +'</td>';
      tabfootrowstr += '<td> Optimierungsschleifen:' + data.optimloops +'</td>';
      tabfootrowstr += '<td> Max. Solver-Iterationen:' + data.max_iter +'</td>';
      tabfootrowstr += '<td> Validierungsgr&ouml;&szlig;e:' + data.test_size*100 +'%</td>';
      tabfootrow.innerHTML = tabfootrowstr;


      tabfoothead.appendChild(tabfootrow);      
      tabfoot.appendChild(tabfootrow);
      params.appendChild(tabfoot);


      /**************************** METRICS **************************/
      var metrics = document.getElementById('metrics');
      var tabm = document.createElement('TABLE');
      tabm.classList.add('table');
      var tabmhead = document.createElement("THEAD");
      tabmhead.classList.add('thead-dark');
      var tabmheadrow = document.createElement('TR');
      var tabmheadrowstr = '<th>Klasse</th><th>precision</th><th>recall</th><th>f1-score</th><th>support</th>'
      tabmheadrow.innerHTML=tabmheadrowstr;

      tabmhead.appendChild(tabmheadrow);
      tabm.appendChild(tabmhead);

      for(var i=0;i<data.target_classes.length;i++)
      {
        var cname = data.target_classes[i];
        var tabrow = document.createElement('TR');
        var tabrowstr = '<td>' +cname +'</td>';
        tabrowstr += '<td>' + math.round(data.report[cname]['precision'],3)+'</td>';
        tabrowstr += '<td>' + math.round(data.report[cname]['recall'],3)+'</td>';
        tabrowstr += '<td>' + math.round(data.report[cname]['f1-score'],3)+'</td>';
        tabrowstr += '<td>' + math.round(data.report[cname]['support'],3)+'</td>';
        tabrow.innerHTML = tabrowstr;

        tabm.appendChild(tabrow);
      }

      metrics.appendChild(tabm);

      /**************************** CONFUSION MATRICES ******************************/
      var confmats = document.getElementById('confmats');      

      for(var i=0;i<data.target_classes.length;i++)
      {
        var cname = data.target_classes[i];
        var confmat = data.confmat[i];

        var n_table = document.createElement("TABLE");
        n_table.classList.add('table');
        var n_thead = document.createElement("THEAD");
        n_thead.classList.add('thead-dark');
        var n_row1 = document.createElement('TR');
        var n_th=document.createElement('TH');
        n_th.innerHTML='Klasse:' + cname;
        n_th.setAttribute('colspan','2');
        n_th.setAttribute('style','text-align:center');
        
        n_row1.appendChild(n_th);
        n_thead.appendChild(n_row1);
        n_table.appendChild(n_thead);

        var n_bd = document.createElement('TBODY');
        var n_row2 = document.createElement('TR');
        var s_row2 = '<td>' + confmat[0][0]+' mal richtig positiv</td><td>' + confmat[0][1] +' mal falsch positiv </td>';
        n_row2.innerHTML=s_row2;
        n_bd.appendChild(n_row2);

        var n_row3 = document.createElement('TR');
        var s_row3 = '<td>' + confmat[1][0]+' mal falsch negativ</td><td>' + confmat[1][1] +' mal richtig negativ </td>';
        n_row3.innerHTML=s_row3;
        n_bd.appendChild(n_row3);

        n_table.append(n_bd);
        confmats.append(n_table);

      }            

      /**************************** BUILD CONTROLS ******************************/
/*       function rangeInputChange(id, val) {
        document.getElementById(id).value = val;
      } */

      for (var key in features_type) {
        var val = features_type[key];
        //console.log("key: " + key + ", val: " + val);        

        /**************  BUILD NUMERIC CONTROLS*********************************/
        if (val != 'ABC') {
          var maxval = features_range[key][1];
          var minval = features_range[key][0];
          
          var ctrlstr = '<label>' + key + '</label>' +
            ' <div class="range-wrap">' +
            ' <input type="range"' +
            ' class="range"' +
            ' name="' + key + '"' +
            ' id="' + key.replaceAll(' ','') + '"' +
            ' min=' + minval +
            ' max=' + maxval;

          if (val == 'float') {
            var step = (maxval - minval) / 20;
            ctrlstr += ' step="' + step + '"';
          }
          else
          {
            var step=1.0;
            ctrlstr += ' step="' + step + '"';
          }
          //ctrlstr +=   ' value=" />';                               
          //ctrlstr += ' onchange="rangeInputChange(this.id, this.value)"'; 

          ctrlstr += '>';

          //ctrlstr += ' class="form-control-range" />';
          //ctrlstr += ' <output for="' + key + '" onforminput="value =' + key + '.valueAsNumber;"></output>'

          ctrlstr += ' <output class="bubble"></output>';
          ctrlstr += ' </div>';        


          $("#controls").append(ctrlstr);
        }
        /**************  BUILD CATEGORICAL CONTROLS *********************************/
        else{
          //ACHTUNG: Bei den IDs muss ich whitespaces entfernen, da sosnt jquery die IDs nicht finden kann
          var ctrlstr;
          ctrlstr = '<label>' + key + '</label>';
          ctrlstr += ' <div class= "dropdown text-center"+ id="' + key + '">';          
          ctrlstr += ' <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="btn_' + key.replaceAll(' ','_') + '" data-toggle="dropdown">';
          ctrlstr +=  key;
          ctrlstr += ' </button>';
          ctrlstr += ' <div class="dropdown-menu">';
          for(var foo in features_range[key]){            
            ctrlstr += '<a class="dropdown-item" href="#" id="' + key.replaceAll(' ','_') + '-_-' + features_range[key][foo];
            ctrlstr += '">';
            ctrlstr += features_range[key][foo];
            ctrlstr += '</a>';
          }
          ctrlstr += ' </div';
          ctrlstr += ' </div>';

          $("#controls").append(ctrlstr);     

        }
      }


          
    /**************   DROPDOWNS CLICK ************************************/
    $("#controls .dropdown-menu").on('click', '.dropdown-item', (function (e) {
      //var btnindex= $(this).index();
      e.preventDefault(); // dont jump up the page after clickig!
      var btnid = e.target.id;
/*     console.log(btnid);
      console.log('#btn_' + btnid.split('-_-')[0]);
      console.log($(this)); */
      var parentid = btnid.split('-_-')[0];
      var drpdown = document.getElementById('btn_' + parentid);
      console.log('btn_'+parentid);
      drpdown.textContent=($(this).text());
      drpdown.value = ($(this).text());     
      //$('#btn_'+parentid+":first-child").text($(this).text());
      //$('#btn_'+parentid+":first-child").val($(this).text());     
      update_graph(); 
    }));
    /************   SLIDERS CHANGE **************/ 
    $('input').on('change',(function() {
        update_graph(); 
    }))


    // ********* SET DROPDOWN TO FIRST ELEMENT **********************
    var btn_dropdowns = $("#controls .btn.dropdown-toggle:first-child");
    var a_dropdowns=$("#controls a.dropdown-item:first-child");
    //console.log(btn_dropdowns);
    for(var bar=0;bar < btn_dropdowns.length;bar++){
      //console.log(btn_dropdowns[bar]);
      btn_dropdowns[bar].textContent=a_dropdowns[bar].text;
      btn_dropdowns[bar].value=a_dropdowns[bar].text;
    }    

    /**************   X-AXIS DROPDOWN  INIT ****************************/
    // only numeric features
    var axismenu=$('#axis-menu');
    //console.log(axismenu);
    for (var key in features_type) {
        var val = features_type[key];
        if (val != 'ABC') {
          var btnstr;
          btnstr = '<a class="dropdown-item" href="#" >';
          btnstr += key;
          btnstr += '</a>';
          axismenu.append(btnstr);
        }
    }
    // on-click
    $('#axis-menu').on('click', '.dropdown-item', (function (e) {
      //var btnindex= $(this).index();
      e.preventDefault(); // dont jump up the page after clickig!
      var btnid = e.target.id;
      var parentid = btnid.split('-_-')[0];
      $("#dropbtn-axis").text($(this).text());
      $("#dropbtn-axis").val($(this).text());

    /****************** ACTIVE/INACTIVE *******************************/ 
      var Xselected = $("#dropbtn-axis")[0].value
      //console.log();
      id = Xselected.replaceAll(' ','');    
      $("input").prop("disabled", false);
      $("#"+id).prop("disabled",true);

      update_graph();
    }));
    // set initial to firstchild
     var firstelem = $('#axis-menu>a')[0];
    $("#dropbtn-axis").text(firstelem.text);
    $("#dropbtn-axis").val(firstelem.text);
    //console.log(firstelem);


    $("#Targetname").text(data.target_name);


    /**************  COLLECT FEATURES ********************************/
    function gather_features()
    {      
      featureset=[]; // clear list
      $('output,button', $('#controls')).each(function (i) 
      {                
        //categorical
        //console.log(i);

        if($(this)[0].type=="button")
        {  //categorical feature
          var parent = $(this)[0].parentElement;
          //var children = parent.children;
          var featval = $(this)[0].value;
          var featname = parent.id; 
          var featlen = features_range[featname].length;         
          var indexinarr = features_range[featname].indexOf(featval);          
                                        
          //console.log(featlen);
          //console.log(featval);
          //console.log(features_range[featname][0]);

          // prepare feature-value set for current feature
          for(var foo=0; foo< featlen;foo++)
          {
            if(foo==indexinarr)
            {
              featureset.push([1]);
            }
            else
            {
              featureset.push([0]);
            }
          }          
        }
        else
        { //not categorical ctrlappend
          var featval = parseFloat($(this)[0].value);          
          var featval_scaled = (featval-mean[i])/std[i];                    

          if(std[i] != 0) //kann passieren, wenn alle einträge dieselbe zahl sind (z.B. Jahr)          
            featureset.push([featval_scaled]);            
          else  
            featureset.push([featval]);
        }        
      });
      //console.log("fset:" + featureset);
      return featureset;  
    }    
    /****************************  PREDICT *************************/
    function predict(X){      

      var z;
      try {
        z = math.multiply(math.transpose(X), math.transpose(data.coeffs));
      }
      catch (err) {
        console.log((err.message));
      }
      z = z[0]; // mache 1d array daraus

      // ******************************* //
      var scores;
      try {
        scores = math.add(z, data.intercepts);
      }
      catch (err) {
        console.log(err.message);
      }
      // ******************************* //
      var proba;
      //softmax
      try {
        var infs=[];
        var scores_exp = math.exp(scores);

        // remeber Infs
        for(var i=0;i<scores_exp.length;i++){
            if(scores_exp[i] ==  Infinity)
                infs.push(i);
        }                        
        var sum_scores = math.sum(scores_exp);
        //console.log("scores:"+scores);
        //console.log("expscores:"+ math.exp(scores));
        proba = math.divide(scores_exp, sum_scores);
        // correct infs
        for(var i=0;i<infs.length;i++) proba[i]=1.0;

        //limit 
      }
      catch (err) {
        console.log(err.message);
      }
      //console.log(proba)
      //maxclass = proba.indexOf(Math.max(...proba)); // ja echt, drei punkte
      //console.log("z:" + z);
      //console.log("interc:"+data.intercepts);
      //console.log("provba:"+proba)
      return proba;
      //return maxclass;
    }
    // *************** helper function to output formatted results.************* 
    function print(value) {
      var precision = 14;
      document.write(math.format(value, precision) + '<br>');
    }            
    // ***************  DRAW CHART ******************//
    Chart.defaults.global.animation.duration=0; // keine animation
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            
            datasets: [{
                label: '',
                data: [0,0],
                borderWidth: 2,
                fill: false,
            },     
            ]
        },        
        
        options: {
            // fit to width  
            responsive: true,
            maintainAspectRatio: false,
            showScale: false,
            scales: {
                yAxes: [{
                    scaleLabel: {
                    display: true,
                    labelString: "Wahrscheinlichkeit"
                    },                    
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });    
    // ***************  UPDATE  CHART *****************
    function update_graph()        
    {
      var colors =[ 
            "#FFCE56",
            "#FFA75D",
            "#46BFBF",
            "#5975CB",
            "#FF5D5D",
            "#FFCC5D",
            "#52DF52",
            'black'
      ];      
      var selected = $('#dropbtn-axis')[0].value;
      var id = selected.replaceAll(' ','');

      //ACHTUNG: jquery hat probleme wenn in ID ein Punkt vorkommt!
      var ctrl = document.getElementById(id); //$('#'+id); 
      var minval = parseFloat(ctrl.min); 
      var maxval = parseFloat(ctrl.max);
      var step; 
      
      step=parseFloat(ctrl.step);
 
      //console.log(minval+" "+maxval+" "+step);
      // Create predictions for full range
      var xrange = [];
      var predictions = [];
      // at which index in featureset is current numerical feature?
      //var indexinarr = features_range.indexOf(selected);
      var indexof = Object.keys(features_range).indexOf(selected);
      var featureset = gather_features();        

      // prepare graph data
      for (var cnt = minval; cnt <= maxval; cnt+=step) {
        xrange.push(math.format(cnt, 2));  
        var x_scaled = (cnt-mean[indexof])/std[indexof];
        featureset[indexof] = [x_scaled];
        //console.log(featureset);
        var tmp_pred =  predict(featureset);
        //format predictions
        for(var foo=0;foo < tmp_pred.length;foo++)
        {
          tmp_pred[foo] = math.format(tmp_pred[foo],3);
        }
        predictions.push(tmp_pred);
      }

      //console.log(predictions.length);
      //prepare dataset
      var classes = data.target_classes;
      //console.log(classes);
      var nrofclasses = classes.length;
      datasets=[];
      for(var col=0;col<nrofclasses;col++)
      {
        //dataset 1 ist erste spalte von predictions-array
        //dataset 2 ist die zweite, etc.        
        var data_tmp =[];
        var label_tmp = classes[col];
        for(var row=0;row<predictions.length;row++)
        {
          data_tmp.push(predictions[row][col]);
        } 
        var tmp_dict= 
          {
            'label':label_tmp,
            'data':data_tmp,
            'borderWidth': 2.0,
            'fill':false,
            'borderColor':colors[col],
            'backgroundColor':colors[col],
          }       
        datasets.push(tmp_dict);
      }
      //console.log(datasets);

      // NOW APPLY CHANGES      
      myChart.data.labels.pop();
      myChart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
      });      
      myChart.data.labels=xrange;
      myChart.data.datasets=datasets;
      myChart.update();

      //console.log(myChart);

    /****************** ACTIVE/INACTIVE *******************************/ 
        var Xselected = $("#dropbtn-axis")[0].value
        //console.log();
        id = Xselected.replaceAll(' ','');    
        $("input").prop("disabled", false);
        $("#"+id).prop("disabled",true);

    }
    //myChart.then(function(data) {    
    //});
    

      /**************   RANGE SLIDERS ********************************/
      const allRanges = document.querySelectorAll(".range-wrap");
        allRanges.forEach(wrap => {
        const range = wrap.querySelector(".range");
        const bubble = wrap.querySelector(".bubble");
      
        range.addEventListener("input", () => {
          setBubble(range, bubble);
        });
        setBubble(range, bubble);
      });
      
      function setBubble(range, bubble) {
        const val = range.value;
        const min = range.min ? range.min : 0;
        const max = range.max ? range.max : 100;
        const newVal = Number(((val - min) * 100) / (max - min));
        bubble.innerHTML = val;
      
        // Sorta magic numbers based on size of the native UI thumb
        bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
        //update_graph();
      }   
      function umlaut(value){
        value = value.toLowerCase();
        value = value.replace(/ä/g, 'ae');
        value = value.replace(/ö/g, 'oe');
        value = value.replace(/ü/g, 'ue');
        value = value.replace(/ß/g, 'ss');
        value = value.replace(/ /g, '-');
        value = value.replace(/\./g, '');
        value = value.replace(/,/g, '');
        value = value.replace(/\(/g, '');
        value = value.replace(/\)/g, '');
        return value;
      }

      //Initial graph update
      update_graph();

    });

  </script>

{% endblock %}    