{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!-- QUELLE: https://bootsnipp.com/snippets/dldxB -->    
<link rel ="stylesheet" type="text/css" href="{% static '/css/login.css' %}" >

<div class="container d-flex flex-column min-vh-100" id="outercontainer">    
  <div class="wrapper">
    <div id="formContent">

  {% comment %} ACHTUNG: HABE DIE GANZEN FADEINS RAUSGENOMMEN WEIL NERVIG {% endcomment %}
  <form method="post">
    {% csrf_token %}
    <input type="email" required id="id_email" name="email" autocomplete="email"  placeholder="Bitte E-Mail angeben">
    <label for="id_captcha" class="" > {{ form.captcha.label }}</label>
    <div class="fieldWrapper input-field col-xs-12">        
        {{form.captcha}}        
    </div>        
    <input type="submit" value="Passwort zurücksetzen">
  </form>

  <!-- Bei Fehler -->
{% for field in form %}
  {% for error in field.errors %}  
  <div>
    <p style="color: red">{{ error }}</p> 
    {% if field.help_text %}
    <p>
      <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    </p>
  </div>  
  {% endfor %}
{% endfor %}


  </div>
</div>
</div>
 <hr>

 {% endblock %}