{% extends 'accounts/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<link rel ="stylesheet" type="text/css" href="{% static '/css/login.css' %}" >

<div class="container d-flex flex-column min-vh-100" id="outercontainer">    
  <div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fieldWrapper input-field col-xs-12">
        <h3 class="fadeIn.first"> Ihr Passwort wurde erfolgreich geändert.</h3>
    </div>        

    <div id="formFooter">
        <a class="underlineHover" href="{% url 'login' %} ">Zum Login</a>    
    </div>
      

  </div>
</div>
</div>
 <hr>

  
{% endblock %}